%div{'x-ng-form'=>'pageForm'}
  .button_section
    %a.button{'x-ng-click'=>'save_page()'}
      Сохранить
    %a.button{'x-ng-click'=>'cancel()'}
      Отмена
  %br
  %hr
  %div
    %table.in_form
      %tr
        =table_row 'Текст ссылки', (tag :input, name: 'label', 'x-ng-model' => 'page.label', 'required'=>'')
        %td
          .errblock
            %span{'x-ng-show'=>'pageForm.label.$error.required && (pageForm.label.$touched || showErrors)'}
              необходимо заполнить
      %tr
        =table_row 'Title', (tag :input, name: 'title', 'x-ng-model' => 'page.title')
      %tr
        =table_row 'Keywords', (tag :input, name: 'keywords', 'x-ng-model' => 'page.keywords')
      %tr
        =table_row 'Description', (tag :input, name: 'description', 'x-ng-model' => 'page.description')
      %tr
        =table_row 'Цвет', (tag :input, type: 'color', name: 'color', 'x-ng-model' => 'page.color')
  %div{'x-ng-init'=>'hide_menu()'}
    %textarea{'x-ng-model' => 'page.body', class: 'ck-editor'}
  .button_section
    %a.button{'x-ng-click'=>'save_page()'}
      Сохранить
    %a.button{'x-ng-click'=>'cancel()'}
      Отмена