/*
*= require jquery.ui.core.css.scss
*= require jquery.ui.dialog.css.scss
*= require jquery.ui.theme.css.scss
*= require libs/colorpicker
*= require libs/jquery_custom
*= require libs/ang-paginate
*= require ngDialog.min
*= require ngDialog-theme-default
*= require libs/ng_dialog_custom.css
*/

$primary-color: #005080;
$primary-color-hovered: #0080ff;
$links-header-color : deepskyblue;
$buttonColor: #0060ee;
$buttonBorder: deepskyblue;
$bordersColor: deepskyblue;
$backgroundColorHovered: #cde;
$bg-legend-color: #adf;
$inputs-bg: #def;
$inputs-border: #cde;
$bg_default: #f0e6eb;

//buttons gradient:
$button-gradient-from-def: #ccc;
$button-gradient-from-hov: #ddd;
$button-gradient-from-foc: #eee;
$button-gradient-to-def: #9ad;
$button-gradient-to-hov: #abe; //56789abcdef
$button-gradient-to-foc: #bcf;

@mixin gradient($startColor, $endColor) {
  background: none;
  background: -moz-linear-gradient(top, $startColor, $endColor);
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background: -o-linear-gradient(top, $startColor, $endColor);
  background: -ms-linear-gradient(top, $startColor, $endColor);
}

@mixin b-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($lr, $tb, $cont, $st_cont, $color){
  -webkit-box-shadow: $lr $tb $cont $st_cont $color;
  -moz-box-shadow: $lr $tb $cont $st_cont $color;
  box-shadow: $lr $tb $cont $st_cont $color;
}

@mixin unselectable(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-position: center top;
  background-attachment: fixed;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  font-family: arial, verdana, tahoma, helvetica, sans-serif;
  font-size: 11px;
  color: $primary-color;
  margin: 0px 0px 0px 0px;
  font-weight: normal;
  margin: 0px;

  background: rgba(204,204,204,1);
  background: -moz-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(51,51,51,1) 15%, rgba(51,51,51,1) 85%, rgba(204,204,204,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,204,204,1)), color-stop(15%, rgba(51,51,51,1)), color-stop(85%, rgba(51,51,51,1)), color-stop(100%, rgba(204,204,204,1)));
  background: -webkit-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(51,51,51,1) 15%, rgba(51,51,51,1) 85%, rgba(204,204,204,1) 100%);
  background: -o-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(51,51,51,1) 15%, rgba(51,51,51,1) 85%, rgba(204,204,204,1) 100%);
  background: -ms-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(51,51,51,1) 15%, rgba(51,51,51,1) 85%, rgba(204,204,204,1) 100%);
  background: linear-gradient(to right, rgba(204,204,204,1) 0%, rgba(51,51,51,1) 15%, rgba(51,51,51,1) 85%, rgba(204,204,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc', GradientType=1 );
}

body .ngdialog{
  font-size: 14px;
}

.ui-front {
  z-index: 10001;
}

.global{
  max-width: 1000px;
  margin: 0px auto;
  text-align:left;
}

img.rounded{
  @include b-radius(15px);
}

td {
  vertical-align: top;
}

a {
  color: $primary-color;
}

.head_panel{
  text-align: center;
  margin:0px;
  width: 100%;
}

.head_panel a {
  color: deepskyblue;
  font-weight: bold;
}

//.head_panel a:hover {
//  background-color: $backgroundColorHovered;
//  @include b-radius(10px);
//}

.head_panel div.head_spacer span{
  @include b-radius(10px);
  padding: 8px;
  transition: all .1s ease-in;
}

.head_panel a:hover div.head_spacer span{
  background-color: #222;
  -webkit-box-shadow: 0px 0px 15px 5px #778;
  -moz-box-shadow: 0px 0px 15px 5px #778;
  box-shadow: 0px 0px 15px 5px #778;
}

.head_panel table {
  width: 100%;
  text-align: center;
}

.head_panel td {
  width: auto;
}

.left_side_bar{
  color: aliceblue;
  text-align: left;
  float: left;
  max-width: 180px;
}

.left_side_bar li {
  padding: 8px;
  border: 2px solid #2d0f1e;
  font-weight: bold;
  margin: 0 10 10 0;

}

ul {
  max-width: 150px;
}

.left_side_bar li {
  border: none;
}

.tdBox
{
  width: 100%;
  height: 30px;
}
.tdBox a
{
  width: 100%;
  height: 100%;
  display: block;
}

.td_sep {
  width: 20px;
}

.row_label {
  text-align: right;
  padding-top: 7px;
  width: 25%;
}

.in_form{
  width: 100%;
  margin-bottom: 15px;
}

table.in_form td.input input,
table.in_form td.input select,
fieldset select, fieldset input,
td.input textarea,
.ant_input {
  width: 90%;
}

.form_description textarea,
table.in_form td.input input,
table.in_form td.input select,
fieldset select, fieldset input,
td.input textarea,
.ant_input {
  border-style: solid;
  border-width: 2px;
  border-color: $inputs-border;
  padding: 5px;
  border-radius: 8px;
  outline: 0;
  background-color: $inputs-bg;
}

table.in_form td.input input:focus,
table.in_form td.input select:focus,
fieldset select:focus, fieldset input:focus,
.sortTypeBlock select:focus, select.small:focus,
.ant_input:focus,
.form_description textarea:focus,
td.input textarea:focus {
  //background-color: $backgroundColorHovered;
  border-color: $buttonBorder;
}

table.in_form td.input input:disabled,
table.in_form td.input select:disabled,
fieldset select:disabled, fieldset input:disabled,
.sortTypeBlock select:disabled,, select.small:disabled,
.ant_input:disabled,
.form_description textarea:disabled,
td.input textarea:disabled{
  border-color: darkgray;
  background-color: lightgrey;
}

button.input_buttons {
  margin: 2px;
  width: 23px;
}

table.in_form tr {
  height: 45px;
}

.form_description, .form_description textarea {
  width: 100%;
}

textarea{
  resize: vertical;
}

.form_description textarea {
  height: 150px;
  width: 100%;
  margin: 10px 0px;
}

.button_section {
  text-align: center;
  margin-top: 15px;
}

.head_button {
  cursor: pointer;
  color: $buttonColor;
  font-weight: bold;
  border: 1px solid $buttonBorder;
  padding: 10px;
  text-align: center;
  text-decoration: none;

  margin: 10px 0px;

  @include b-radius(8);
  border-radius: 8px;
  @include gradient($button-gradient-from-def, $button-gradient-to-def);
}

.head_button:hover {
  @include gradient($button-gradient-from-hov, $button-gradient-to-hov);
//  color: $buttonBorder;
}

.head_button:active {
  @include gradient($button-gradient-from-foc, $button-gradient-to-foc);
//  color: $buttonBorder;
}

.head_button:disabled,
a.head_button:disabled,
.disabled_head_button{
  @include b-radius(8);
  font-weight: bold;
  padding: 10px;
  margin: 10px 0px;
  text-align: center;
  text-decoration: none;
  background-color: lightgrey;
  border: 1px solid darkgray;
  color: gray;
  cursor: default;
}

.disabled_head_button.green{
  background-color: #dfd;
  border: 1px solid #aca;
  color: #5a5;
}

.button, div.ui-dialog-buttonset button, .ui-button {
  color: $buttonColor;
  @include b-radius(5);
  border: 1px solid $buttonBorder;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  background: #ccffee;
  @include gradient($button-gradient-from-def, $button-gradient-to-def);
}

.button:focus{
  outline: 0;
}

.button:hover {
  @include gradient($button-gradient-from-hov, $button-gradient-to-hov);
}

.button:active {
  @include gradient($button-gradient-from-foc, $button-gradient-to-foc);
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
  color: #5df;
  background: none;
  @include gradient(#246, #123);
}

.smal {
  padding: 0px 2px;
  margin: 2px;
}


.product_table {
  width: 100%;
}

.product_table p {
  text-indent: 0px;
}

.edit_button_links{
  padding: 2px;
  margin: 4px;
  font-size: 15px;
}

.center {
  max-width: 687px;
}

.center a {
  color: darkblue;
  background: #cef;
  padding: 3px;
  border: none;
  @include b-radius(7px);
}

.center a:hover {
  background-color: #fef;
  color: blue;
}

hr {
  border: 1;
  height: 1px;
  background-color: #ccf;
  box-shadow: 0 0 10px 1px deepskyblue;
}

.product_header {
  width: 100%;
  border-bottom: 1px solid deepskyblue;
  margin-bottom: 10px;
}

.global a {

}

.assortment {
  width: 20%;
  padding: 5px;
  border-right: 2px solid;
  border-color: deepskyblue;
}

.assortment ul {
  padding-left: 17px;
}

.firm_block{
  max-width: 150px;
}

.main {
  padding: 10px;
}

.assortment a{
  color: $primary-color;
}

.assortment a:hover {
  color: $primary-color-hovered;
}

.assortment h4{
  margin-bottom: 0px;
}

.show img {
  cursor: pointer;
  display: block;
  width: auto !important;
  height: auto !important;
  max-width: 45px;
  margin: auto;
}

.show tr.main_image img{
  max-width: 200px;
  max-height: 250px;
}

.show tr.main_image {
  text-align: center;
}

.show .img_block {
  width: 220px;
  text-align: center;
}

.show p.price {
  text-align: right;
  font-weight: bold;
}

p.price span {
  padding: 10px;
  background-color: $backgroundColorHovered;
  @include b-radius(10px)
}

.login, .login td {
  padding: 5px;
  font-size: 13px;
  vertical-align: middle;
  height: 42px;
}

.login {
  width: 100%;
}

.login .user_info {
  width: 99%;
  text-align: right;
}

.cart_button {
  padding-right: 22px;
}

table.cart {
  width: 100%;
  padding: 5px;
  border: 2px solid $bordersColor;
  @include b-radius(10px);
}

table.cart td{
  vertical-align: middle;
  padding: 5px 8px 5px 8px;
  @include b-radius(8px);
}

table.cart tr:first-child{
  background-color: $bg-legend-color;
}

td.total_sum{
  background-color: $bg-legend-color;
  border: 1px solid $backgroundColorHovered;
  color: #544;
}

#cart_image {
  width: 16px;
  margin: 0;
  float: none;
  position: absolute;
  margin-left: 3px;
}

.descr_block {
  background-color: $inputs-bg;
  padding: 10px;
  margin-top: 10px;
  @include b-radius(15px)
}

.descr_block h3{
  padding-left: 20px;
}

.descr_block p{
  margin: 10px;
}

.head_spacer{
  padding: 0 auto;
}

.new_user_td {
  width: 90%;
  text-align: left;
}

.login a {
  font-weight: bold;
  color: $primary-color;
  padding: 7px;
  @include b-radius(8px);
  background-color: $bg_default;
  border: 1px solid deepskyblue;
  transition: all .2s ease-in;
  cursor: pointer;
}

.login a:hover {
  color: #def;
  border: 1px solid #05f;
  background-color: #579;
}

fieldset {
  border: 3px solid $bordersColor;
  @include  b-radius(10px);
  margin-bottom: 10px;
}

fieldset legend {
  border: 2px solid $bordersColor;
  @include  b-radius(7px);
  padding: 5px 8px;
  background-color: $bg-legend-color;
}

.dialog_msg {
  color: $primary-color;
  font-size: 14;
  text-align: center;
}

table.reg_info p,
table.reg_info li,
table.reg_info ul {
  font-size: 12;
  margin: 0;
  padding: 2px;
}

table.reg_info ul {
  float: right;
}

p.cntr , div.cntr{
  text-align: center;
}

div.cntr {
  text-align: center;
  margin: 0 auto;
}
//span.cntr {
//  margin: 0, auto;
//}

p.cntr_small{
  font-size: 12px;
  text-align: center;
}

p.cntr_small a.button{
  display: inline;
}

div.errblock {
  position: absolute;
}

div.errblock span {
  position: relative;
  left: 20px;
  bottom: 8px;
  background-color: #513;
  color: #fac;
  padding: 2px 7px;
  font-size: 12;
  border: 1px solid #f0f;
  @include b-radius(10px);
}

div.errblock.editing span {
  display: none;
}

.full_cart_bg div.tdBox a div{
  -webkit-animation: cart_bg 1s; /* Chrome, Safari, Opera */
  animation: cart_bg 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes cart_bg {
  0% {color: $primary-color;}
  100% {color: #c69200;}
}

/* Standard syntax */
@keyframes cart_bg {
  0% {color: $primary-color;}
  100% {color: #c69200;}
}

tr.positions input {
  width: 50px;
}

.in_form input[type="checkbox"].f_cb,
input[type="checkbox"] {
  height: 20px;
  width: 20px;
  float: left;
}

.in_form p.input_desc,
p.input_desc {
  padding: 6px 0px 0px 35px;
  font-size: 12px;
  background-color: #ddccbb;
  margin-left: 35px;
  padding: 5px 8px;
  @include b-radius(10px);
}

.sortTypeBlock, {
  font-size: 12px;
}

.sortTypeBlock select, select.small{
  font-size: 12px;
  border: 1px solid $inputs-border;
  border-radius: 6px;
  outline: 0;
  background-color: $inputs-bg;
}

.jq_tooltip {
  font-size: 12px;
}

.jq_tooltip b.name,
b.name{
  font-size: 14px;
}

.jq_tooltip b.green{
  color: #0f0;
}

.jq_tooltip b.red,
b.red {
  color: #ff0000;
}

.only_admin_info b.green {
  color: green;
}

.only_admin_info {
  @include b-radius(10px);
  margin: auto;
  padding: 10px;
  width:  310px;
  background-color: #cde;
}

.only_admin_info span{
  padding: 0px 10px;
}

td.action_col {
  width: 5%;
}

td.mid {
  width: 17%;
}

table.zones tr td {
  vertical-align: middle;
  text-align: center  ;
}

fieldset table tr td{
  height: 30px;
}

a:focus {
  outline: none;
}

select.compact{
  width: auto;
  margin-top: -6px;
}

tr.code td.input input {
  width: 200px;
}

img#code, image#code {
  @include b-radius(0);
  width: 200px;
  height: 60px;
}

legend span,legend p {
  padding-left: 15px;
  text-align: right;
  margin: 3px auto;
}

div.content {
  width: 90%;
  background-color: $bg_default;
  margin: 0;
  min-width: 770px;
  margin-left: 5%;
  margin-right: 5%;
}

div.head_wraper{
  background-color: $bg_default;
  margin: 0px;
  padding: 0px;
  min-width: 830px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 3px solid deepskyblue;
  border-top: none;
}

.head_sub_wrapper{
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;

  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(148,148,148,1) 16%, rgba(46,46,46,1) 65%, rgba(46,46,46,1) 91%, rgba(71,212,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(16%, rgba(148,148,148,1)), color-stop(65%, rgba(46,46,46,1)), color-stop(91%, rgba(46,46,46,1)), color-stop(100%, rgba(71,212,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(148,148,148,1) 16%, rgba(46,46,46,1) 65%, rgba(46,46,46,1) 91%, rgba(71,212,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(148,148,148,1) 16%, rgba(46,46,46,1) 65%, rgba(46,46,46,1) 91%, rgba(71,212,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(148,148,148,1) 16%, rgba(46,46,46,1) 65%, rgba(46,46,46,1) 91%, rgba(71,212,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(148,148,148,1) 16%, rgba(46,46,46,1) 65%, rgba(46,46,46,1) 91%, rgba(71,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#47d4ff', GradientType=0 );
}

div.head_wraper table{
  color: aqua;
}

table.content {
  width: 100%;
  border: 2px solid deepskyblue;
  border-top: none;
  border-bottom: none;
}

.downside {
  background-color: $bg_default;
  margin: 0 auto 30 auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 20px;
  border: 2px solid deepskyblue;
  border-top: none;
  background-color: $bg_default;
  min-width: 770px;
  margin-left: 5%;
  margin-right: 5%;
}

.pr_list_block h5 {
  margin: 0px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pr_list_block img {
  background-color: grey;
  display: block;
  width: 100%;
  background-image: asset-data-url('no_photo.jpg');
  width: 100%;
  height: auto;
}

.pr_list_block a {
  color: $primary-color;
  cursor: pointer;
}

.pr_list_block a:hover {
  color: $primary-color-hovered;
}

.pr_list_block {
  width: 286px;
  //max-height: 190px;
  height: 190px;
  margin: 15px;
  padding: 10px;
  float: left;
  border: 2px solid #a7a;
  overflow: hidden;
  @include b-radius(8px);
  -webkit-box-shadow: 0px 0px 15px 2px lightslategrey;
  -moz-box-shadow: 0px 0px 15px 2px lightslategrey;
  box-shadow: 0px 0px 15px 2px lightslategrey;
  transition: all .1s ease-in;
}

.pr_list_block:hover {
  border-color: #a5f;
  -webkit-box-shadow: 0px 0px 25px 2px #29f;
  -moz-box-shadow: 0px 0px 25px 2px #29f;
  box-shadow: 0px 0px 25px 2px #29f;
}

div.img_fix_block {
  width: 150px;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  float: left;
  margin: 0 15 0 0;
}

div.img_fix_block img,
div.img_fix_block image {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: auto;
  margin-bottom: 6px;
}

.small_descr {
  margin-left: 165px;
  font-size: 14;
}

div.text_hidener{
  position: relative;
  width: 136px;
  height: 94px;
  background-color: #f0e6eb;
  left: 160;
  top: -108px;

  background: rgba(240,230,235,0);
  background: -moz-linear-gradient(top, rgba(240,230,235,0) 0%, rgba(240,230,235,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,230,235,0)), color-stop(100%, rgba(240,230,235,1)));
  background: -webkit-linear-gradient(top, rgba(240,230,235,0) 0%, rgba(240,230,235,1) 100%);
  background: -o-linear-gradient(top, rgba(240,230,235,0) 0%, rgba(240,230,235,1) 100%);
  background: -ms-linear-gradient(top, rgba(240,230,235,0) 0%, rgba(240,230,235,1) 100%);
  background: linear-gradient(to bottom, rgba(240,230,235,0) 0%, rgba(240,230,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0e6eb', endColorstr='#f0e6eb', GradientType=0 );
}

.cats_block {
//  border: 1px solid deepskyblue;
}

.cats_block a{
  text-decoration: none;
}

.cats_block h4 {
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  @include b-radius(10px);
  color: #def;
  border: 2px solid #579;
  background-color: #579;
  transition: all .2s ease;
}

.cats_block a:hover h4 {
  color: blue;
  border: 2px solid blue;
  background-color: #fce;

  // @include shadow(0px, 3px, 20px, 1px, #579); // for active class
}


.assortment .slider{
  margin: 0 10 10 10;
  border: 2px solid #fef;
  border-top-width: 0px;
  padding: 1 0 0 0;
  background-color: antiquewhite;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  @include shadow(0px, 3px, 15px, 1px, #579);
}

.assortment h5 {
  margin: 10 5 0 5;
  padding: 3 0;
  font-size: 13;
  text-align: center;
  color: #def;
  border: 2px solid #579;
  background-color: #579;
  @include b-radius(5px);
  transition: all .2s ease;
}

.assortment h5:hover {
  background-color: lightcyan;
  color: #579;
  border: 2px solid #579;

  // @include shadow(0px, 3px, 15px, 1px, #579); // for active class
}

.alt_firms_block li{
  list-style-type: none;
  font-size: 13px;
  padding: 3 0;
}

.alt_firms_block{

}

.assortment .sub_slider{
  margin: 0 10 10 10;
  border: 2px solid darkturquoise;
  border-top-width: 0px;
  padding: 1 0 0 0;
  background-color: cornsilk;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;

  @include shadow(0px, 3px, 15px, 1px, #579);
}

.head_img_keeper{
//  max-width: 650px;
//  position: absolute;
//  margin: 0 auto;
//  text-align: center;
//  margin-left: 180px;
}
img.header_sb {
  width: 100%;
//  border-bottom-left-radius: 30px;
//  border-bottom-right-radius: 30px;
}

table.in_form td.input select.half_width,
table.in_form td.input input.half_width{
  width: 70%;
}

.active_firm a{
  background-color: #059;
  padding: 4px;
  margin-left: -4px;
  border-radius: 5px;
  font-weight: bold;
  color: #aff !important;
}

h4.active {
  color: #909 !important;
  border: 2px solid #909 !important;
  background-color: #fdf !important;
  @include shadow(0px, -1px, 20px, 1px, #777);
}

h5.active {
  background-color: #eff !important;
  color: #24f !important;
  border: 2px solid #24f !important;
  @include shadow(0px, -1px, 15px, 1px, #777);
}

span.ang_tab_header {
  border: 2px solid #cde;
  border-bottom: none;
  padding: 7px;
  background-color: #def;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

span.ang_tab_header.active {
  border-color: deepskyblue;
  border-bottom-color: #def;
  padding-top: 8px;
  padding-bottom: 9px;
  cursor: default;
  color: darkblue;
}

div.ang_tab{
  background-color: #def;
  padding: 15px;
  margin-top: 6px;
  border: 2px solid deepskyblue;
  border-radius: 10px;
}

.show div.ang_tab{
  margin-top: 4px;
}

img.edit_desc{
  border: 1px solid rgb(0, 191, 255);
  width: 20px;
  margin-bottom: -5px;
  border-radius: 5px;
  background-color: #cde;
  cursor: pointer;
}

img.edit_desc:hover{
  background-color: #eef;
}

table.in_form td.input input.img_input {
  width: 80%;
}

.wrap {
  width: 200px;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid deepskyblue;
  margin: auto;
}

.wrap ul {
  min-width: 100%;
  white-space: nowrap;
  padding: 0px;
  margin-top: 5px;
}

.wrap li {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 80px;
  margin-right: 3px;
}

img.large_img {
  max-width: 595px;
}

.arrows .arrow{
  @include unselectable();
  cursor: pointer;
  width: 100%;
  font-size: 30px;
  //  text-align: center;
  padding: 0 50px;
  transition: all .2s ease;
}

.arrows .arrow:hover{
  background-color: #bcd;
}

.show td.input, .show td.row_label {
  vertical-align: bottom;
}

.green {
  color: green;
}

.red {
  color: darkred;
}

.images {
  vertical-align: middle;
}

fieldset.display_info {
  background-color: aliceblue;
  text-align: center;
}

fieldset.display_info table {
  width: 100%;
}

.short_desc_wraper{
  margin: 5px;
  padding: 10px;
  border: 1px solid #aac;
  @include b-radius(20px);
  background-color: #dee;
  border-width: 0 2;
}