%table.product_table{style:'border-collapse: collapse;'}
  %tr{style: 'height: 36px;', 'x-ng-show'=>'currentUser && admin'}
    %td
      %a.button{href: new_product_path+'{{$parent.paramsPart}}'}
        Добавить товар
  %tr.product_row
    %td
      .pr_list_block{'dir-paginate'=>'product in product_list | onlySelected:$parent.selectedFirm:$parent.selectedCategory | itemsPerPage: setting.products_per_page'}
        %div{style: 'height: 215px;'}
          %a{'x-ng-href'=>'/products/{{product.id}}{{$parent.paramsPart}}#glob', style:'margin-right: 5px;'}
            %h5
              {{product.name}}
            %div
              .img_fix_block
                %img.rounded{'x-ng-src'=>image_path('no_photo.jpg'), 'x-ng-hide'=>'product.image'}
                %img.rounded{'x-ng-show'=>'product.image', 'x-ng-src'=>'{{product.image}}'}
                {{product.rub_price | currency:"":2}} руб.
          %div
            .small_descr
              %div{'x-ng-bind-html'=>'htmlSafe(product.description)'}
        %div.text_hidener

  %tr
    %td.pgnt-controller
      %div
        <dir-pagination-controls boundary-links="true" template-url="dirPagination.tpl.html"></dir-pagination-controls>
