.center
  %div{'x-ng-bind-html'=>'htmlSafe(setting.current_page_html)'}
    -#%script
    -#  setTimeout(function(){$('.my_map').append('<script type="text/javascript" charset="utf-8">var a= function(){console.log("a called!");}; a();</script><p>done.</p>');},2500);
    -#<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=pT3I4fqAPOhpI7AoHflvn2fyP7uzYvzh&width=600&height=450"></script>
    -#<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=r7iJfgIosKiHK6_cCFl3MaHw3CtuPew2&width=600&height=450"></script>