.show
  %p{style: 'text-align: center;'}
    -#%a.button{'x-ng-click'=>'next(-1)', 'x-ng-show'=>'cntrls', style: 'float: left;'}
      &nbsp;<&nbsp;
    -#%a.button{'x-ng-click'=>'back()'}
      К списку
    %a.button{'x-ng-href'=>'/products/{{product.id}}/edit', style:'margin-right: 5px;', 'x-ng-show'=>'currentUser.is_admin'}
      Править
    %a.button{'x-ng-click'=>'delete_product(product.id)', 'x-ng-show'=>'currentUser.is_admin'}
      Удалить
    -#%a.button{'x-ng-click'=>'next(1)', 'x-ng-show'=>'cntrls', style: 'float: right;'}
      &nbsp;>&nbsp;
  %table{style: 'margin-bottom: 20px;'}
    %tbody
      %tr
        %td.images
          .img_block
            %table{style: 'width: 100%;'}
              %tbody
                %tr.main_image
                  %td
                    %img.rounded{'x-ng-src'=>image_path('no_photo.jpg'), 'x-ng-hide'=>'product.image', style: 'cursor: default;'}
                    %img.rounded{'x-ng-show'=>'product.image', 'x-ng-src'=>'{{product.image}}', 'x-ng-click'=>'view_img(product.images.length)'}
                %tr.secondary_imgs
                  %td
                    .wrap{'x-ng-show'=>'product.images.length > 0'}
                      %ul
                        %li{'x-ng-repeat'=>'img in product.images'}
                          %img{'x-ng-src'=>'{{img.src}}', 'x-ng-click'=>'view_img($index)'}

        %td.main_info{style: 'padding-top: 30px;'}
          %h3{style: 'text-align: center;'}
            {{product.name}}
          %table
            %tbody
              %tr
                =table_row 'Производитель', '{{product.manufacturer ? product.manufacturer : "Не указан"}}'
              %tr
                =table_row 'Страна производителя', '{{product.country ? product.country : "Не указана"}}'
              %tr
                =table_row 'Есть в наличии', '<span x-ng-class="product.exist ? \'green\' : \'red\'">{{product.exist ? "Да" : "Нет"}}</span>'.html_safe
              %tr
                =table_row 'Вес', '{{product.weight ? product.weight : "Не указан"}}'
              %tr
                =table_row 'Цена', '{{product.rub_price | currency:"":2}} руб.'
              %tr
                %td{colspan: 3, style: 'padding: 10px; text align: center;'}
                  %div{style: 'text-align: center; padding-top:10px;', 'x-ng-hide'=>'admin || !product.exist'}
                    %a.head_button{'x-ng-click'=>'addToCart()', 'x-ng-hide'=>'addedToCart'}
                      Добавить в корзину
                    %a.disabled_head_button.green{'x-ng-disabled'=>'true', 'x-ng-show'=>'addedToCart'}
                      Уже в корзине
                  %div{style: 'text-align: center; padding-top:10px;','x-ng-hide'=>'product.exist || admin'}
                    %span{title:'{{product.exist ? \'\' : \'<b class="name red">Нет в наличии</b>\'}}'}
                      %a.disabled_head_button{'x-ng-click'=>'', 'x-ng-disabled'=>'true'}
                        Добавить в корзину
                  .only_admin_info{style: 'text-align: center; padding-top:10px;','x-ng-show'=>'admin'}
                    %span
                      Скрыт:
                      %b.red{'x-ng-show'=>'product.hidden'}
                        Да
                      %b.green{'x-ng-hide'=>'product.hidden'}
                        Нет

  .form_description
    %span{style: 'padding: 10px;'}
    %span.ang_tab_header{'x-ng-repeat'=>'tab in tabs', 'x-ng-class'=>'tab.status', 'x-ng-click'=>'choose_tab($index)'}
      {{tab.label}}
    .ang_tab{'x-ng-repeat'=>'tab in tabs', 'x-ng-show'=>'tab.status == "active"'}
      %span{'x-ng-show'=>'tab.content == "" || !tab.content'}
        Описание временно отсутствует.
      %div{'x-ng-bind-html'=>'htmlSafe(tab.content)'}

  -#.descr_block
    %div{style: 'text-align: center; padding-top:10px;', 'x-ng-hide'=>'admin || !product.exist'}
      %a.head_button{'x-ng-click'=>'addToCart()', 'x-ng-hide'=>'addedToCart'}
        Добавить в корзину
      %a.disabled_head_button.green{'x-ng-disabled'=>'true', 'x-ng-show'=>'addedToCart'}
        Уже в корзине
    %div{style: 'text-align: center; padding-top:10px;','x-ng-hide'=>'product.exist || admin'}
      %span{title:'{{product.exist ? \'\' : \'<b class="name red">Нет в наличии</b>\'}}'}
        %a.disabled_head_button{'x-ng-click'=>'', 'x-ng-disabled'=>'true'}
          Добавить в корзину
    .only_admin_info{style: 'text-align: center; padding-top:10px;','x-ng-show'=>'admin'}
      %span
        Есть в наличии:
        %b.green{'x-ng-show'=>'product.exist'}
          Да
        %b.red{'x-ng-hide'=>'product.exist'}
          Нет
      %span
        Скрыт:
        %b.red{'x-ng-show'=>'product.hidden'}
          Да
        %b.green{'x-ng-hide'=>'product.hidden'}
          Нет
    %h3
      {{product.name}}
    %div{'x-ng-bind-html'=>'htmlSafe(product.description)'}
    %div{'x-ng-show'=>'product.description == "" || product.description == null'}
      Описание временно отсутствует.
    %p.price
      %span
        Цена: {{product.rub_price | currency:"":2}} руб.

