#hide_without_angular
  %script{type: 'text/javascript'}
    if(typeof(angular) == 'undefined')
    {
    //console.log(window.location);
    localStorage.setItem('pathname',window.location.pathname);
    localStorage.setItem('search',window.location.search.slice(1));
    localStorage.setItem('hash',window.location.hash.slice(1));
    window.location.href='/';
    document.getElementById('hide_without_angular').style.display = 'none';
    }
  = yield
